<body>
    <div class="page-container">
        <h3 class="validate">Case Itaú</h3>
        <div class = "login-container">
            <mat-form-field class="input-field">
                <mat-label class="textLabel">User</mat-label>
                <input matInput >
                <label for="user" >useritau&#64;provider.com</label>
            </mat-form-field>
        </div>
        <div class = "login-container">
            <mat-form-field class="input-field">
                <mat-label class="textLabel">Password</mat-label>
                <input matInput [formControl]="password" [validatorTooltip]="password.value">
            </mat-form-field>
            <mat-error class="passValid" name="passValid" *ngIf="!passInvalidEmpty">
                Senha obrigatória!
            </mat-error>
            <mat-error name="passInvalid" *ngIf="!passInvalid">
                Senha inválida. Não atende aos requisitos.
            </mat-error>
            <button class="submit" mat-raised-button (click)="getData()">Validar senha</button>
        </div>
    </div>
</body>